.section {
  padding-block: var(--section-padding-y);

  &__header {
    @include center-columns;

    row-gap: 20px;
    margin-bottom: 40px;
    text-align: center;

    @include mobile-above {
      row-gap: 32px;
      margin-bottom: 60px;
    }
  }

  &__description {
    max-width: 750px;
  }
}
