.api-intro {
  background-color: var(--color-dark);

  &__title {
    color: var(--color-light);
  }

  &__description {
    color: var(--color-gray-alt);
  }

  &__body {
    @include center-columns;
    gap: 25px;

    @include mobile-above {
      align-items: start;
      flex-direction: row;
      gap: 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    @include mobile-above {
      row-gap: 24px;
    }
  }

  &__code-example {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding-bottom: calc(var(--button-height) / 2);

    &-image-wrapper {
      overflow: hidden;
      border-radius: var(--border-radius-md);
    }

    &-button {
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50% 0;
    }
  }
}
