*,
:before,
:after {
    box-sizing: border-box
}

:where(ul, ol):where([class]) {
    padding-left: 0
}

body,
:where(blockquote, figure):where([class]) {
    margin: 0
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
    margin-block: 0
}

:where(dd[class]) {
    margin-left: 0
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none
}

:where(ul[class]) {
    list-style: none
}

:where(address[class]) {
    font-style: normal
}

p {
    --paragraphMarginBottom: 24px;
    margin-block: 0
}

p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom)
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto
}

input,
textarea,
select,
button {
    font: inherit
}

html {
    height: 100%;
    scrollbar-gutter: stable
}

html,
:has(:target) {
    scroll-behavior: smooth
}

body {
    min-height: 100%;
    line-height: 1.5
}

a:where([class]) {
    display: inline-flex
}

button,
label {
    cursor: pointer
}

[fill] {
    fill: currentColor
}

[stroke] {
    stroke: currentColor
}

svg * {
    transition-property: fill, stroke
}

:where(table) {
    border-collapse: collapse;
    border-color: currentColor
}

@media (prefers-reduced-motion: reduce) {

    *,
    :before,
    :after {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important
    }
}

@font-face {
    font-family: Inter;
    src: url(inter-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

:root {
    --color-light: #ffffff;
    --color-dark: #262e35;
    --color-gray: #5b617a;
    --color-gray-alt: #888ea5;
    --color-orange: #e78450;
    --background-color-warm-white: #fcfaf8;
    --background-color-light-gray: #F8F8FA;
    --background-color-silver: #f2f3f5;
    --background-color-light-blue: #9daefe;
    --background-color-light-purple: #bba3f0;
    --background-color-light-green: #a0eed4;
    --background-color-dark-gray: #1b202c;
    --background-color-dark-gray-alt: #1a1f2d;
    --border-light-transparent: 1px solid rgba(255, 255, 255, .1);
    --border-light-gray: 1px solid #e7e7e8;
    --border-dark-gray: 1px solid rgba(22, 26, 38, .2);
    --shadow-mockup-1: 0 1px 4px 0 rgba(32, 39, 44, .2);
    --shadow-mockup-2: 0 2px 16px 0 rgba(32, 39, 44, .1);
    --shadow-mockup-3: 0 0 10px 4px rgb(224, 224, 224);
    --shadow-card: 0 1px 2px 0 rgba(38, 46, 53, .2);
    --shadow-button-inner-1: inset 0 0 0 1px rgba(22, 26, 38, .1);
    --shadow-button-inner-2: inset 0 -1px 2px 0 rgba(0, 0, 0, .1);
    --border-radius-xxs: 4px;
    --border-radius-xs: 6px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 18px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 24px;
    --font-family: "Inter", sans-serif;
    --container-width: 1200px;
    --container-padding-x: 10px;
    --section-padding-y: 40px;
    --button-height: 40px;
    --burger-button-size: 38px;
    --transition-duration: .2s
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x)
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important
}

.hover-effect {
    transition-property: opacity;
    transition-duration: var(--transition-duration)
}

@media (hover: hover) {
    .hover-effect:hover {
        opacity: .7
    }
}

@media (hover: none) {
    .hover-effect:active {
        opacity: .7
    }
}

@media (max-width: 767px) {
    .hidden-mobile {
        display: none !important
    }
}

@media (min-width: 768px) {
    .visible-mobile {
        display: none !important
    }
}

body {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.28;
    color: var(--color-gray);
    background-color: var(--color-light)
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration)
}

a {
    color: inherit;
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1;
    color: var(--color-dark)
}

dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none
}

dialog:modal {
    max-width: 100%;
    max-height: 100%
}

h1,
.h1 {
    font-size: clamp(45px, 5.4166666667vw, 78px)
}

h2,
.h2 {
    font-size: clamp(34px, 3.75vw, 54px)
}

h3,
.h3 {
    font-size: clamp(28px, 2.7777777778vw, 40px)
}

h4,
.h4 {
    font-size: 15px
}

.button {
    display: inline-flex;
    justify-content: center;
    transition-property: opacity;
    transition-duration: var(--transition-duration);
    align-items: center;
    column-gap: 8px;
    width: max-content;
    height: var(--button-height);
    padding: 8px 16px;
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: var(--border-radius-xs)
}

@media (hover: hover) {
    .button:hover {
        opacity: .7
    }
}

@media (hover: none) {
    .button:active {
        opacity: .7
    }
}

@media (min-width: 768px) {
    .button {
        column-gap: 15px
    }
}

.button--transparent {
    color: var(--color-dark);
    background-color: transparent
}

.button--light {
    color: var(--color-dark);
    background-color: var(--color-light)
}

.button__label {
    display: inline-flex;
    align-items: center;
    column-gap: 10px
}

.button__label svg {
    width: 20px;
    height: 20px
}

.button svg {
    fill: transparent
}

.capsule-button {
    display: inline-flex;
    justify-content: center;
    transition-property: opacity;
    transition-duration: var(--transition-duration);
    align-items: center;
    height: var(--button-height);
    padding: 8px 16px;
    background-color: var(--color-light);
    border-radius: var(--border-radius-xxl);
    box-shadow: var(--shadow-button-inner-1), var(--shadow-button-inner-2)
}

@media (hover: hover) {
    .capsule-button:hover {
        opacity: .7
    }
}

@media (hover: none) {
    .capsule-button:active {
        opacity: .7
    }
}

.capsule-button__icon-stars {
    margin-right: 10px;
    color: var(--color-orange)
}

.capsule-button__label--orange {
    margin-right: 15px;
    color: var(--color-orange)
}

.capsule-button__label--dark {
    margin-right: 15px;
    color: var(--color-dark)
}

.capsule-button__icon-arrow-right {
    color: var(--color-dark)
}

.label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding: 6px 12px;
    color: var(--color-dark);
    border: var(--border-light-gray);
    border-radius: var(--border-radius-xl);
    -webkit-user-select: none;
    user-select: none
}

.label--dark {
    color: var(--color-light);
    background-color: var(--color-dark);
    border: var(--border-light-transparent)
}

.burger-button {
    padding: 0;
    background-color: transparent;
    border: none;
    width: var(--burger-button-size);
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center
}

.burger-button__line {
    width: 70%;
    height: 1px;
    background-color: var(--color-dark);
    box-shadow: 0 -8px 0 0 currentColor, 0 8px 0 0 currentColor
}

.section {
    padding-block: var(--section-padding-y)
}

.section__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 40px;
    text-align: center
}

@media (min-width: 768px) {
    .section__header {
        row-gap: 32px;
        margin-bottom: 60px
    }
}

.section__description {
    max-width: 750px
}

.problem-card {
    max-width: 400px;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    background-color: var(--background-color-silver);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-card);
    overflow: hidden
}

@media (min-width: 768px) {
    .problem-card {
        max-width: 320px;
        height: 100%;
        padding-top: 32px;
        padding-left: 32px
    }
}

.problem-card__title {
    margin-bottom: 20px;
    font-size: 15px;
    color: var(--color-gray)
}

@media (min-width: 768px) {
    .problem-card__title {
        margin-bottom: 32px
    }
}

.problem-card__image {
    width: 100%
}

.features-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

@media (min-width: 768px) {
    .features-card {
        flex-direction: row;
        gap: 30px
    }
}

.features-card__body {
    margin-bottom: 30px
}

.features-card__title {
    margin-bottom: 20px
}

.features-card__description {
    max-width: 440px;
    margin-bottom: 20px
}

@media (min-width: 768px) {
    .features-card__description {
        margin-bottom: 32px
    }
}

.features-card__badges {
    display: flex;
    flex-direction: column;
    row-gap: 10px
}

@media (min-width: 1024px) {
    .features-card__badges {
        position: relative;
        min-height: 200px
    }
}

@media (min-width: 1024px) {
    .features-card__badge {
        position: absolute
    }
}

@media (min-width: 1024px) {
    .features-card__badge--integration {
        left: 40px
    }
}

@media (min-width: 1024px) {
    .features-card__badge--slack {
        top: 50px;
        left: 10px
    }
}

@media (min-width: 1024px) {
    .features-card__badge--discord {
        top: 100px;
        left: 30px
    }
}

@media (min-width: 1024px) {
    .features-card__badge--syntax {
        top: 150px;
        left: 10px
    }
}

@media (min-width: 1024px) {
    .features-card__badge--refresh {
        left: 40px
    }
}

@media (min-width: 1024px) {
    .features-card__badge--terminal {
        top: 60px;
        left: 20px
    }
}

@media (min-width: 1024px) {
    .features-card__badge--events {
        left: 250px
    }
}

@media (min-width: 1024px) {
    .features-card__badge--groups {
        left: 40px
    }
}

@media (min-width: 1024px) {
    .features-card__badge--messages {
        left: 230px
    }
}

@media (min-width: 1024px) {
    .features-card__badge--inboxes {
        top: 60px;
        left: 60px
    }
}

@media (min-width: 1024px) {
    .features-card__badge--labels {
        top: 60px;
        left: 250px
    }
}

@media (min-width: 1024px) {
    .features-card__badge--priorities {
        top: 120px;
        left: 25px
    }
}

.features-card__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 520px;
    width: 100%;
    overflow: hidden;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 0;
    border: var(--border-light-transparent);
    border-radius: var(--border-radius-lg)
}

.features-card__media--blue {
    background-color: var(--background-color-light-blue)
}

.features-card__media--green {
    background-color: var(--background-color-light-green)
}

.features-card__media--purple {
    background-color: var(--background-color-light-purple)
}

@media (min-width: 768px) {
    .features-card__media {
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 0
    }
}

@media (min-width: 1024px) {
    .features-card__media {
        padding-top: 40px;
        padding-left: 40px;
        padding-bottom: 0
    }
}

.features-badge {
    display: inline-flex;
    align-items: center;
    column-gap: 20px;
    width: max-content;
    padding: 6px 8px;
    font-size: 10px;
    border: var(--border-light-gray);
    border-radius: var(--border-radius-xxs);
    -webkit-user-select: none;
    user-select: none
}

.channel-card {
    --channelCardDescriptionColor: var(--color-gray);
    max-width: 400px;
    width: 100% !important;
    height: 100%;
    background-color: var(--background-color-light-gray);
    border: var(--border-light-gray);
    border-radius: var(--border-radius-sm);
    overflow: hidden
}

@media (min-width: 768px) {
    .channel-card {
        max-width: unset
    }
}

.channel-card--dark {
    --channelCardDescriptionColor: var(--color-gray-alt);
    color: var(--color-light);
    background-color: var(--background-color-dark-gray);
    border: var(--border-dark-gray)
}

.channel-card__title,
.channel-card__description {
    padding-inline: 20px
}

@media (min-width: 768px) {

    .channel-card__title,
    .channel-card__description {
        padding-left: 32px
    }
}

.channel-card__title {
    padding-top: 20px;
    margin-bottom: 10px;
    color: inherit;
    font-size: 15px;
    font-weight: 600
}

@media (min-width: 768px) {
    .channel-card__title {
        padding-top: 32px
    }
}

.channel-card__description {
    margin-bottom: 30px;
    color: var(--channelCardDescriptionColor)
}

@media (min-width: 768px) {
    .channel-card__description {
        margin-bottom: 40px
    }
}

.channel-card__media {
    position: relative;
    min-height: 280px
}

.channel-card__media svg {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0
}

.channel-card__image {
    margin-inline: auto
}

.channel-card__image--full {
    width: 100%
}

.support-tool {
    --supportToolBorder: none;
    --supportToolSvgColor: var(--color-gray-alt);
    display: flex;
    column-gap: 16px;
    max-width: 360px;
    padding: 16px;
    background-color: var(--background-color-dark-gray-alt);
    border: var(--supportToolBorder);
    border-radius: var(--border-radius-md)
}

.support-tool.is-active {
    --supportToolBorder: none;
    --supportToolSvgColor: var(--color-light)
}

.support-tool__icon-wrapper svg {
    color: var(--supportToolSvgColor)
}

.support-tool__icon-wrapper svg path {
    color: var(--color-dark)
}

.support-tool__body {
    display: flex;
    flex-direction: column;
    row-gap: 6px
}

.support-tool__title {
    font-size: 15px;
    font-weight: 600;
    color: var(--color-light)
}

.header {
    padding-block: 8px;
    background-color: var(--background-color-warm-white)
}

@media (min-width: 1024px) {
    .header {
        padding-block: 14px
    }
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media (min-width: 768px) {
    .header__inner {
        justify-content: start
    }
}

.header__menu {
    margin-left: auto;
    margin-right: 24px
}

.header__menu-list {
    display: flex;
    align-items: center;
    column-gap: 24px
}

.header__menu-link {
    transition-property: opacity;
    transition-duration: var(--transition-duration);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--button-height);
    font-size: 16px;
    color: var(--color-dark)
}

@media (hover: hover) {
    .header__menu-link:hover {
        opacity: .7
    }
}

@media (hover: none) {
    .header__menu-link:active {
        opacity: .7
    }
}

.hero {
    background-color: var(--background-color-warm-white)
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center
}

.hero__capsule-button {
    margin-bottom: 16px
}

.hero__title {
    max-width: 900px;
    margin-bottom: 10px;
    text-align: center
}

@media (min-width: 768px) {
    .hero__title {
        margin-bottom: 20px
    }
}

.hero__title br {
    display: none
}

@media (min-width: 768px) {
    .hero__title br {
        display: block
    }
}

.hero__description {
    max-width: 705px;
    margin-bottom: 30px;
    text-align: center
}

@media (min-width: 768px) {
    .hero__description {
        margin-bottom: 50px
    }
}

.hero__actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 50px
}

@media (min-width: 768px) {
    .hero__actions {
        column-gap: 30px;
        margin-bottom: 80px
    }
}

.hero__mockup {
    position: relative;
    margin-bottom: 25px;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    box-shadow: var(--shadow-mockup-1), var(--shadow-mockup-2)
}

@media (min-width: 768px) {
    .hero__mockup {
        margin-bottom: 40px
    }
}

.hero__mockup-button {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    box-shadow: var(--shadow-mockup-1), var(--shadow-mockup-2), var(--shadow-mockup-3)
}

.hero__partners-title {
    margin-bottom: 25px;
    text-align: center
}

@media (min-width: 768px) {
    .hero__partners-title {
        margin-bottom: 40px
    }
}

.hero__partners-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px
}

@media (min-width: 768px) {
    .hero__partners-list {
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        align-items: center;
        gap: 25px
    }
}

.problem__grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 8px
}

@media (min-width: 768px) {
    .problem__grid {
        display: flex;
        justify-content: center
    }
}

.problem__grid-item {
    max-width: 400px;
    width: 100%
}

@media (min-width: 768px) {
    .problem__grid-item {
        max-width: 320px
    }
}

.problem__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px
}

@media (min-width: 768px) {
    .problem__list {
        height: 100%
    }
}

.problem__list-item {
    max-width: 400px;
    width: 100%
}

@media (min-width: 768px) {
    .problem__list-item {
        max-width: 320px
    }
}

@media (min-width: 768px) {
    .problem__list-item--half {
        height: 50%
    }
}

.features__list {
    display: flex;
    flex-direction: column;
    row-gap: 50px
}

@media (min-width: 768px) {
    .features__list {
        row-gap: 80px
    }
}

.channel__title br {
    display: none
}

@media (min-width: 481px) {
    .channel__title br {
        display: block
    }
}

.channel__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 12px;
    margin-bottom: 12px
}

@media (min-width: 768px) {
    .channel__list:first-child {
        grid-template-columns: 1.3fr .7fr
    }
}

@media (min-width: 768px) {
    .channel__list:last-child {
        grid-template-columns: .7fr 1.3fr
    }
}

.channel__item {
    max-width: 400px;
    width: 100%
}

@media (min-width: 768px) {
    .channel__item {
        max-width: unset;
        width: 100%
    }
}

.channel__card {
    height: 100%
}

.speed {
    background-color: var(--color-dark)
}

.speed__title {
    color: var(--color-light)
}

.speed__description {
    color: var(--color-gray-alt)
}

.speed__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px
}

@media (min-width: 768px) {
    .speed__list {
        align-items: stretch;
        flex-direction: row
    }
}

.speed .channel-card {
    max-width: 400px
}

.api-intro {
    background-color: var(--color-dark)
}

.api-intro__title {
    color: var(--color-light)
}

.api-intro__description {
    color: var(--color-gray-alt)
}

.api-intro__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px
}

@media (min-width: 768px) {
    .api-intro__body {
        align-items: start;
        flex-direction: row;
        gap: 40px
    }
}

.api-intro__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px
}

@media (min-width: 768px) {
    .api-intro__list {
        row-gap: 24px
    }
}

.api-intro__code-example {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding-bottom: calc(var(--button-height) / 2)
}

.api-intro__code-example-image-wrapper {
    overflow: hidden;
    border-radius: var(--border-radius-md)
}

.api-intro__code-example-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0
}

.promo {
    padding-block: 60px
}

@media (min-width: 768px) {
    .promo {
        padding-block: 80px
    }
}

@media (min-width: 1024px) {
    .promo {
        padding-block: 100px
    }
}

.promo__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px
}

.promo__headline {
    text-align: center
}

.promo__headline br {
    display: none
}

@media (min-width: 768px) {
    .promo__headline br {
        display: block
    }
}

.promo__description {
    text-align: center
}

.footer {
    padding-block: 40px
}

@media (min-width: 768px) {
    .footer {
        padding-block: 60px
    }
}

@media (min-width: 1024px) {
    .footer {
        padding-block: 80px
    }
}

.footer__header {
    margin-bottom: 20px
}

@media (min-width: 768px) {
    .footer__header {
        margin-bottom: 28px
    }
}

.footer__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px
}

@media (min-width: 481px) {
    .footer__grid {
        grid-template-columns: 1fr 1fr
    }
}

@media (min-width: 768px) {
    .footer__grid {
        grid-template-columns: repeat(4, 1fr)
    }
}

.footer__column-title {
    margin-bottom: 18px;
    font-size: 14px;
    color: var(--color-gray-alt)
}

@media (min-width: 768px) {
    .footer__column-title {
        margin-bottom: 24px
    }
}

.footer__column-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px
}

@media (min-width: 768px) {
    .footer__column-list {
        row-gap: 12px
    }
}

.footer__column-list--row {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-bottom: 25px
}

@media (min-width: 481px) {
    .footer__column-list--row {
        flex-direction: column;
        align-items: start
    }
}

@media (min-width: 768px) {
    .footer__column-list--row {
        flex-direction: column;
        align-items: start;
        margin-bottom: 40px
    }
}

@media (min-width: 1024px) {
    .footer__column-list--row {
        flex-direction: row;
        align-items: center
    }
}

.footer__column-link {
    transition-property: opacity;
    transition-duration: var(--transition-duration);
    font-size: 14px
}

@media (hover: hover) {
    .footer__column-link:hover {
        opacity: .7
    }
}

@media (hover: none) {
    .footer__column-link:active {
        opacity: .7
    }
}

.footer__copyright {
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--color-gray-alt)
}

.footer__disclaimer {
    font-size: 12px
}

.mobile-overlay {
    padding-top: 10px;
    padding-inline: var(--container-padding-x)
}

.mobile-overlay__close-button-wrapper {
    display: flex;
    justify-content: end
}

.mobile-overlay__close-button {
    padding: 0;
    background-color: transparent;
    border: none;
    width: var(--burger-button-size);
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center
}

.mobile-overlay__close-button svg {
    width: 55%;
    height: 55%;
    color: var(--color-dark);
    fill: var(--color-dark)
}

.mobile-overlay__body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding-top: 50px
}

.mobile-overlay__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px
}

.mobile-overlay__link {
    font-size: 18px
}